
.container-3{

}

li {
    list-style: none;
}
.carousel{
    width: 920px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.cont-3-person{
    display: flex;
    justify-content: center;
}

.person-img{
    margin-right: 23px;
}

.person-name{
    font-family: 'Montserrat', sans-serif;
    color:  #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    padding-top: 15px;
}

.p-text{
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
}

.cont-3-descr{
    font-family: 'Montserrat', sans-serif;
    padding-top: 48px;
    width: 720px;
    margin: 0 auto;
    text-align: center;;
}

.p-text-1 {
    font-family: 'Montserrat', sans-serif;
    color: #848e97;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

.slider{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.d-flex{
    display: flex;
}

/*
.carousel [class^='btn-'] {
    position: absolute;
    top: 50%;
    margin: 23px 0 0;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    color: #a3a3a3;
*/

.controls

.controls a:last-child{
    float: right;

}

.btn-prev{
    align-items: center;
    padding-top: 30px;
    display: flex;
    margin-right: 30px;
}

.btn-next{
    align-items: center;
    padding-top: 30px;
    display: flex;
    margin-left:30px;

}




















