body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.d-flex {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

/*MAIN MENU START*/

.main-menu {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
}

.logo-main-img {
    display: inline-block;
    width: 43px; height: 41px;
    background: url('../img/css_sprites.png') -10px -10px;
}
/*
.logo-main-img:hover + .logo-main-text{
   color: white;
}*/

.main-logo:hover > .logo-main-img{
    background-position: -73px -10px;
}

.main-logo:hover > .logo-main-text{
    color: white;
}
/*

.logo-main-text:hover + .logo-main-img{ !*TO-DO: make change to prev element on hover*!
   background-position: -73px -10px;
}
*/

/*.logo-main-img:hover {
    background-position: -73px -10px;
}*/

/*.logo-main-text:hover {
    color: white;
}*/

.logo-main-text {
    color:  #8d81ac;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
    margin-left: 17px;

}

.main-menu-list {
    display: inline-block;
}

.main-menu-item {
    display: inline-block;
    margin-right: 46px;
    line-height: 41px;
}

.main-menu-link {
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 700;
}

.main-menu-link:hover {
    color: #fff;
}

.main-buy-now {
    display: inline-block;
    padding: 11px 35px;
    border-radius: 19px;
    background-color: #8d81ac;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.main-buy-now:hover {
    background-color: #fff;
    color: #8d81ac;
}


.header{
    background-color: #000;
    background-image: url("img/img.png");
   /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 375px;
    padding-top: 160px;
    position:relative;

}
.header-title{
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    margin-bottom: 18px;
}

.header-description{
    font-family: 'Lato', sans-serif ;
    color:  #8d81ac;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
}

.header-version{
    color:  #848e97;
    font-size: 16px;
    font-weight: 400;
}

.download-trial{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% - 35px));
}
.download-button{
    background-color:  #8d81ac;
    display: inline-block;
    padding: 23px 64px;
    border-radius: 31px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 19px;
}

.download-trial-description{
    color:  #848e97;
    font-size: 14px;

}
/*MAIN MENU END*/


/*.container-1{
    background-color: #fff;
    width:100%;
    margin: 0 auto;
    text-align: center;
}*/

.container-1{
    padding: 112px 0 137px;

}

.container-text-1{
    width: 878px;
    margin: 0 auto;
    text-align: center;
}

.container-1-h2{
 /*   margin-top: 180px;*/
    color: #635c73;
    font-size: 54px;
    font-weight: 700;
    line-height: 90.45px;
    text-transform: uppercase;
}

.container-1-h2-description {
    color: #323232;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.476px;
    text-align: center;
}

.text-1{
    padding: 112px 0 137px;
}
/*

.container-2{
    background-color:  #f4f4f4;
    width: 100%;

}

.container-2-left-col{
    width: 85%;
!*    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;*!
}

.container-2-right-col{
    width: 10%;
}

.container-2-col{
    display: flex;
}

.container-2-h2{
    color:  #8d81ac;
    font-size: 47.99px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
}
.benefit-text-h3{
    color:  #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 15.406px;
    text-align: left;
}

.benefit-list{
   !* margin: 0 -25px -40px -15px;
    padding: 28px 0;
    list-style: none;*!
    color: #848e97;
}

.benefit-item{
    display: flex;
}

.img-holder{
    float: left;
    width: 111px;
    height: 84px;
   !* width: 90px;
    text-align: center;
    margin: 7px 45px 0 0;*!
}

.benefit-img-4 {

    width: 71px; height: 71px;
    background: url('../img/css_sprites_benefits.png') -221px -10px;
}


.benefit-img-3 {
    width: 60px; height: 84px;
    background: url('../img/css_sprites_benefits.png') -141px -10px;
}


.benefit-img-1 {
    width: 111px; height: 64px;
    background: url('../img/css_sprites_benefits.png') -10px -10px;
}


.benefit-img-2 {
    width: 90px; height: 80px;
    background: url('../img/css_sprites_benefits.png') -10px -94px;
}


.col-lef{
    width: 40%;
}
.lists{
    display: inline-block;
    height: 81px;
}
*/

.container-2{
    height: 120%;
    background-color:  #f4f4f4;
    width: 100%;
    display: flex;
    padding-top: 85px;
}

.cont-2-left{
    width: 49%;
    align-items: center;
}

.benefit{
    width: 500px;
    margin: 0 auto;
}

.lists{
    display: flex;
    padding-bottom: 20px;
}


.cont-2-text{
    text-align: left;
    width: 365px;
    margin: 30px auto;
    color:   #848e97;
    font-size: 14px;
    font-weight: 400;
}

.cont-2-h3{
    color: #635C73;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.benefit-text{
}

.imgage{
    display: block;
    margin: 10px  auto;
    padding: 0 auto;
    padding-top: 20px;
}

.cont-2-right{
    width: 50%;
    background-image: url("../img/img-01.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.cont-2-h2{
    color:  #8d81ac;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

/*CONTAINER-3*/

.container-3{
    background-color: #fffef2;
/*    display: block;*/
    /*text-align: center;*/
    padding: 40px 0;
}

.cont-3-person{
    display: block;
    text-align: center;
    padding-top: 87px;
}

.person-img{
margin-right: 23px;
}

.person-name{
    color:  #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
}

.p-text{
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;

 }

.cont-3-descr{
    width: 720px;
    text-align: center;
}

.carousel{
    width: 920px;
    text-align: center;
}

.slider{

}


.container-3{

}

li {
    list-style: none;
}
.carousel{
    width: 920px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.cont-3-person{
    display: flex;
    justify-content: center;
}

.person-img{
    margin-right: 23px;
}

.person-name{
    font-family: 'Montserrat', sans-serif;
    color:  #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    padding-top: 15px;
}

.p-text{
    color:  #8d81ac;
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
    padding-top: 15px;
}

.cont-3-descr{
    font-family: 'Montserrat', sans-serif;
    padding-top: 48px;
    width: 720px;
    margin: 0 auto;
    text-align: center;;
}

.p-text-1 {
    font-family: 'Montserrat', sans-serif;
    color: #848e97;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

}

.slider{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.d-flex{
    display: flex;
}

/*
.carousel [class^='btn-'] {
    position: absolute;
    top: 50%;
    margin: 23px 0 0;
    z-index: 9;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    color: #a3a3a3;
*/

.controls

.controls a:last-child{
    float: right;

}

.btn-prev{
    align-items: center;
    padding-top: 30px;
    display: flex;
    margin-right: 30px;
}

.btn-next{
    align-items: center;
    padding-top: 30px;
    display: flex;
    margin-left:30px;
}

.social-btn{
    text-align: center;
}

.scl-btn{
    border-radius: 4px;
    width: 240px;
    height: 50px;
    display: inline-block;
    padding-top: 18px;
    box-sizing: border-box;
    position: relative;

}
.btn-github{
    background-color:  #f3f3f3;
}

.btn-twitter{
    background-color:  #26a6d1;
}

.btn-facebook{
    background-color:  #3b5998;
}

.li-btn{
    display: inline-block;
    margin-right: 40px;
}

.folowers{
    margin-top: 18px;
    width: 240px;
    font-family: Montserrat;
    color:  #848e97;

}


.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}

.sprite-bird {
    width: 19px;
    height: 15px;
    background-position: -5px -5px;
}

.sprite-f {
    width: 8px;
    height: 16px;
    background-position: -34px -5px;
}

.sprite-icon-_4_ {
    width: 20px;
    height: 20px;
    background-position: -5px -31px;
}

.sprite-bird:before {
    width: 19px;
    height: 15px;
    background-position: -5px -5px;
}




