/*
.ul{
    -webkit-padding-start: 80px;

}*/
.container-2{
    height: 120%;
    background-color:  #f4f4f4;
    width: 100%;
    display: flex;
    padding-top: 85px;
}

.cont-2-left{
    width: 49%;
    align-items: center;
}

.benefit{
    width: 500px;
    margin: 0 auto;
}

.lists{
    display: flex;
    padding-bottom: 20px;
}


.cont-2-text{
    text-align: left;
    width: 365px;
    margin: 30px auto;
    color:  #323232;
    font-size: 16px;
    font-weight: 400;
 }

.cont-2-h3{
    color: #635C73;
    font-family: Montserrat sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.benefit-text{
}

.imgage{
    display: block;
    margin: 10px  auto;
    padding: 0 auto;
    padding-top: 20px;
}

.cont-2-right{
    width: 50%;
    background-image: url("../img/img-01.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.cont-2-h2{
    color:  #8d81ac;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}






























